<%- include("partials/_header.ejs") -%> 
<%- include("partials/_navigation.ejs")-%>
      <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>Gallery</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- gallery -->
      <div  class="gallery">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <p>The point of using Lorem Ipsum is that it has a more-or-less</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="tz-gallery">
                  <div class="col-sm-12">
                     <div class="row">
                        <% for(let i=0;i<workouts.length;i++){ %>
                        <div class="col-sm-6 col-md-4">
                           <a class="gallery_img" href="workouts/<%= workouts[i].slug %>">
                           <img src="images/gallery1.jpg" alt="Bridge">
                           <p style="color: aliceblue;"><%= workouts[i].name %></p>
                           <p style="color: aliceblue;"><%= workouts[i].difficulty %></p>
                           </a>
                        </div>
                        <% } %>
                        
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end gallery -->
      <%- include("partials/_footer.ejs") -%>